[Desktop Entry]
Type=Application
Name=LockUnLockServer
Exec=/home/felipemiranda/.nvm/versions/node/v20.17.0/bin/node /home/felipemiranda/dev/github/fcmiranda/clock-in-clock-out/lock-listener.js
Terminal=true
Categories=Utility;Development;
StartupNotify=true